<%- include('../../partials/header.ejs')  %> 
<%- include('../../partials/navbar.ejs')  %> 

<div class="container">
    <hr>
    <h2>Articles</h2>
    <a href="/admin/articles/new" class="btn btn-success">Create an Article</a>
    <hr>
    <table class="table table-bordered"> 
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            <% articles.forEach((article) => { %> 
                <tr>
                    <th><%= article.id %></th>
                    <th><%= article.title %></th>
                    <th><%= article.slug %></th>
                    <th><%= article.category.title %></th>
                    <th>
                        <a href="/admin/articles/<%= article.id %>/edit" class="btn btn-warning">Edit</a>
                        <form onsubmit="confirmDeleteAction(event, this)" action="/admin/articles/<%= article.id %>/delete" style="display: inline;" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </th>
                </tr>
            <%})  %> 

           
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs')  %> 

<script>
    function confirmDeleteAction(event, form){
        event.preventDefault();
        if(confirm("Do you want to delete this article?")) form.submit()
    }
</script>