<%- include('../../partials/header.ejs')  %> 
<%- include('../../partials/navbar.ejs')  %> 

<div class="container">
    <hr>
    <h2>Categories</h2>
    <a href="/admin/categories/new" class="btn btn-success">Create a Category</a>
    <hr>
    <table class="table table-bordered"> 
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            <% categories.forEach((category) => { %> 
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn-warning">Edit</button>
                        <button class="btn-danger">Delete</button>
                    </th>
                </tr>
            <%})  %> 

           
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs')  %> 